.emacs.d/undohist/
.emacs.d/auto-save-list/
.emacs.d/recentf/
.emacs.d/backups/
.emacs.d/recentf/
.emacs.d/elpa/
.emacs.d/public_repos/*
.emacs.d/conf/*
.emacs.d/elisp/*
*#*
.emacs.d/el-get/
.emacs.d/ac-comphist.dat
